﻿<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
 <h2>Welcome to Product Management Task</h2>      </div>

          

    </div>
  </div>
</div>